.videoCard{
    margin-top: 40px;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    width: 769px;
    height: 457px;
}

@media (max-width:  600px){
    .videoCard{
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 20px;
        width: 200px;
        height: 200px;
    }

    
}