.heading{
    padding: 33;
    font-size: 48px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: start;

}
.description{
    text-align: start;
    font-size: 16;
    font-weight:  40;
    font-family:  sans-serif;
    color:  #747474;
}
.linkText{
    text-align: start;

    font-size: 16;
    font-weight:  40;
    font-family:  sans-serif;
    color:  #036406;
}
.subHeading{

}